.projects-container {
    max-width: 100vw;
    margin: 0 auto;
    padding: var(--space-3xl) var(--space-2xl);
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-2xl);
    grid-auto-rows: 300px;
    width: 100%;
  }
  